@import 'colors'

@mixin regular-style
	font-style: normal
	font-weight: 400

@mixin text-20
	@include regular-style
	font-size: 20px
	line-height: 20px

@mixin text-16
	@include regular-style
	font-size: 16px
	line-height: 20px

@mixin text-14
	@include regular-style
	font-size: 14px
	line-height: 20px
