@import 'mixins'

\:host
	display: flex

.content
	flex: 1 0 auto
	background: white
	width: 50%
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	&__wrapper
		display: flex
		align-items: center
		justify-content: space-between

.logo
	display: flex
	align-items: center
	margin-bottom: 50px

	a
		font-size: 100px
		line-height: 140px
		color: $c-base

.slider
	flex: 1 0 auto
	width: 50%
	height: 100vh
	background: $c-background-base
