<form [formGroup]='form'>
	<app-input placeholder='Email' formControlName='email' type='email'></app-input>
	<app-input placeholder='Password' [password]='true' formControlName='password'></app-input>

	<div class='btn__group'>
		<button
			class='btn'
			(click)='submit()'
			[disabled]='formIsValid'
			*ngIf='!(loading$ | async)'
		>Sign in</button>

		<ng-container *ngIf='loading$ | async'>
			<ng-container *ngTemplateOutlet='loader'></ng-container>
		</ng-container>
	</div>

	<div class="text">
		<span>No account? <a routerLink='/sign-up'>Sign up</a></span>
	</div>
</form>

<ng-template #loader>
	<app-loader width='FULL'></app-loader>
</ng-template>
