<app-page>
	<div class='info'>
		<h1>Kaglytics&nbsp;&mdash; Machine Learning For Everyone</h1>
		<h3>A&nbsp;computer is&nbsp;able to&nbsp;learn from experience
			without being specifically programmed</h3>
		<button
			class='info__btn'
			(click)='navigate(isAuthorized)'
		>
			{{isAuthorized ? 'Competitions' : 'Sign up to start'}}
		</button>
	</div>

	<h3 class='platform'>Our platform is designed for</h3>

	<div class='cards'>
		<app-home-card theme='ORANGE' title='Competitions' icon='competition'
					   description='Explore, search and filter competitions'
		></app-home-card>
		<app-home-card theme='GREEN' title='Predictions' icon='prediction'
					   description='Get a&nbsp;prediction about the level of&nbsp;competition in&nbsp;competitions'
		></app-home-card>
		<app-home-card theme='BLACK' title='Analytics' icon='analytics'
					   description='Follow the analytics of&nbsp;the competitions'
		></app-home-card>
	</div>
</app-page>
