<form [formGroup]='form'>
	<app-input placeholder='Username' formControlName='username'></app-input>

	<ng-container *ngIf="hasError('username', 'required')">
		<span class='error'>Username is required</span>
	</ng-container>
	<ng-container *ngIf="hasError('username', 'pattern')">
		<span class='error'>The username should only contain alphanumeric characters</span>
	</ng-container>

	<app-input type="email" placeholder='Email' formControlName='email'></app-input>

	<ng-container *ngIf="hasError('email', 'required')">
		<span class='error'>Email is required</span>
	</ng-container>
	<ng-container
		*ngIf="hasError('email', 'email') || hasError('email', 'pattern')">
		<span class='error'>Invalid email pattern</span>
	</ng-container>
	<ng-container *ngIf="hasError('email', 'maxlength')">
		<span class='error'>Ensure this field has no more than 254 characters</span>
	</ng-container>

	<app-input placeholder='Password' [password]='true' formControlName='password'></app-input>

	<ng-container *ngIf="hasError('password', 'required')">
		<span class='error'>Password is required</span>
	</ng-container>
	<ng-container *ngIf="hasError('password', 'minlength')">
		<span class='error'>Ensure this field has at least 5 characters</span>
	</ng-container>
	<ng-container *ngIf="hasError('password', 'pattern')">
		<span class='error'>The password should only contain alphanumeric characters</span>
	</ng-container>

	<div class='btn__group'>
		<button
			class='btn'
			(click)='submit()'
			[disabled]='formIsValid'
			*ngIf='!loading'
		>Sign up</button>
		<ng-container *ngIf='loading'>
			<ng-container *ngTemplateOutlet='loader'></ng-container>
		</ng-container>
	</div>

	<div class='link'>
		<span>Have an account? <a routerLink='/sign-in'>Sign in</a></span>
	</div>
</form>

<ng-template #loader>
	<mat-progress-spinner style="text-align: center" appSpinnerColor [colorCustom]="'#0D5C63'" [diameter]="25" [mode]="'indeterminate'"
						  [value]="50">
	</mat-progress-spinner></ng-template>
