<form [formGroup]='form'>
	<app-input placeholder='Username' formControlName='username'></app-input>
	<ng-container *ngIf="hasError('username', 'required')">
		<span class='error'>Username is required</span>
	</ng-container>

	<app-input type="email" placeholder='Email' formControlName='email'></app-input>
	<ng-container *ngIf="hasError('email', 'required')">
		<span class='error'>Email is required</span>
	</ng-container>
	<ng-container
		*ngIf="hasError('email', 'email') || hasError('email', 'pattern')">
		<span class='error'>Invalid email pattern</span>
	</ng-container>
	<ng-container *ngIf="hasError('email', 'maxlength')">
		<span class='error'>Email must not exceed 254 characters</span>
	</ng-container>

	<app-input placeholder='Password' [password]='true' formControlName='password'></app-input>
	<ng-container *ngIf="hasError('password', 'required')">
		<span class='error'>Password is required</span>
	</ng-container>
	<ng-container *ngIf="hasError('password', 'minlength')">
		<span class='error'>Minimum password length 5 characters</span>
	</ng-container>
	<ng-container *ngIf="hasError('password', 'pattern')">
		<span class='error'>Password may only contain latin characters and numbers</span>
	</ng-container>

	<div class='btn__group'>
		<button
			class='btn'
			(click)='submit()'
			[disabled]='formIsValid'
			*ngIf='!(loading$ | async)'
		>Sign up</button>
		<ng-container *ngIf='loading$ | async'>
			<ng-container *ngTemplateOutlet='loader'></ng-container>
		</ng-container>
	</div>

	<div class="text">
		<span>Have an account? <a routerLink='/sign-in'>Sign in</a></span>
	</div>
</form>

<ng-template #loader>
	<app-loader width='FULL'></app-loader>
</ng-template>
