@import "mixins"

.header
	margin: 50px 0
	display: flex
	align-items: center
	justify-content: space-between

	&__btn
		border: none
		border-radius: 24px
		padding: 10px 50px
		outline: none
		color: white
		@include text-16-20

	&__actions
		display: flex
		align-items: center
		column-gap: 10px

.orange
	background: $c-orange

.green
	background-color: $c-green

.form
	display: flex
	align-items: center
	justify-content: space-between

.input
	padding: 10px

.table
	width: 100%

.title
	max-width: 250px
	width: 250px
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	padding-right: 20px

.description, .tags
	max-width: 300px
	width: 300px
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	padding-right: 20px

.prediction
	background: $c-orange-72
