@import "mixins"

.header
	margin: 50px 0
	display: flex
	align-items: center
	justify-content: space-between

	&__btn
		border: none
		border-radius: 24px
		background-color: #0D5C63
		padding: 10px 50px
		outline: none
		color: white
		@include text-16-20

.form
	display: flex
	align-items: center
	justify-content: space-between

.table
	width: 100%

.title
	max-width: 250px
	width: 250px
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	padding-right: 20px

.description, .tags
	max-width: 300px
	width: 300px
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	padding-right: 20px

.prediction
	background: $c-orange-72
