<app-page>
	<div class="header">
		<h1>Analytics</h1>
	</div>
	<section class="section">
		<div class="row fatcss">
			<div class="col-md-6">
				<div class="card n-shadow">
					<div class="card-block">
						<div *ngIf="categoriesOptions.series" echarts
							 [options]="categoriesOptions"></div>
						<div class="load-data text-black"
							 *ngIf="loadCategories">
							<mat-progress-spinner appSpinnerColor [colorCustom]="'#0D5C63'" [diameter]="25" [mode]="'indeterminate'"
												  [value]="50">
							</mat-progress-spinner>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card n-shadow">
					<div class="card-block">
						<div *ngIf="organizationOptions.series" echarts
							 [options]="organizationOptions"></div>
						<div class="load-data text-black"
							 *ngIf="loadOrganizations">
							<mat-progress-spinner appSpinnerColor [colorCustom]="'#0D5C63'" [diameter]="25" [mode]="'indeterminate'"
												  [value]="50">
							</mat-progress-spinner>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row fatcss">
			<div class="col-md-6">
				<div class="card n-shadow">
					<div class="card-block">
						<div *ngIf="rewardTypesOptions.series" echarts
							 [options]="rewardTypesOptions"></div>
						<div class="load-data text-black"
							 *ngIf="loadRewardTypes">
							<mat-progress-spinner appSpinnerColor [colorCustom]="'#0D5C63'" [diameter]="25" [mode]="'indeterminate'"
												  [value]="50">
							</mat-progress-spinner>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card n-shadow">
					<div class="card-block">
						<div *ngIf="tagsOptions.series" echarts
							 [options]="tagsOptions"></div>
						<div class="load-data text-black"
							 *ngIf="loadTags">
							<mat-progress-spinner appSpinnerColor [colorCustom]="'#0D5C63'" [diameter]="25" [mode]="'indeterminate'"
												  [value]="50">
							</mat-progress-spinner>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</app-page>
