<swiper [config]='config' class="swiper">
	<ng-template swiperSlide>
		<div class="swiper__slide">
			<span>Machine Learning</span>
			<img src='/assets/images/Code_landing_illo.png' alt='Code_landing_illo'>
		</div>
	</ng-template>

	<ng-template swiperSlide>
		<div class="swiper__slide">
			<span>Datasets</span>
			<img src='/assets/images/Datasets_landing_illo.png' alt='Datasets_landing_illo'>
		</div>
	</ng-template>

	<ng-template swiperSlide>
		<div class="swiper__slide">
			<span>Competitions</span>
			<img src='/assets/images/discussion-home.png' alt='discussion-home'>
		</div>
	</ng-template>

	<ng-template swiperSlide>
		<div class="swiper__slide">
			<span>Models</span>
			<img src='/assets/images/landing_header.png' alt='landing_header'>
		</div>
	</ng-template>

	<ng-template swiperSlide>
		<div class="swiper__slide">
			<span>Pandas</span>
			<img src='/assets/images/learn-home-208h.png' alt='learn-home-208h'>
		</div>
	</ng-template>
</swiper>
